<section class="accessories">
	<h3>{{ pagePart.heading }}</h3>
	<div class="accessories_drinks">
		<div class="card">
			<h5>Tripel Karmeliet</h5>
			<img src="./assets/uploads/images/tripel-karmeliet.png" alt="">
			<button>learn more</button>
		</div>

		<div class="card">
			<h5>Tripel Karmeliet</h5>
			<img src="./assets/uploads/images/tripel-karmeliet.png" alt="">
			<button>learn more</button>
		</div>

		<div class="card">
			<h5>Tripel Karmeliet</h5>
			<img src="./assets/uploads/images/tripel-karmeliet.png" alt="">
			<button>learn more</button>
		</div>
	</div>
</section>
